#!name = 黑料不打烊净化首页和播放页所有广告
#!author = @fishdown、怎么肥事
#!update = 2024-11-29 01:37

^https:\/\/18hlw\.com\/?$ url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/18hlw.js
^https:\/\/18hlw\.com\/archives\/\d+\.html url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/18hlw.js




hostname = 18hlw.com