#!name = 七色猫视屏播放
#!author = 怎么肥事
#!update = 2024-08-04 11:46

^https:\/\/newts\.sxnd\.cn\/\w+\/.*?\/index\.m3u8 url script-request-header https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/7SMao.js



hostname = newts.sxnd.cn