#!name = 哔哩哔哩VIP
#!author = 怎么肥事
#!update = 2024-01-24 15:10


^https:\/\/app\.bilibili\.com\/bilibili\.app\.playerunite\.v1\.Player\/PlayViewUnite*$ url script-request-header https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/bili.js
 


hostname = app.bilibili.com
