#!name = 畅玩空间
#!author = 怎么肥事
#!update = 2024-04-26 23:08

^https:\/\/play\.wo1wan\.com\/nextgame\/igwuser\/(userinfo|useropeninfo) url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/Cwkj.js




hostname = play.wo1wan.com