#!name = 芒果tv解锁会员
#!author = 怎么肥事
#!update = 2026-05-14
^https?:\/\/mobile-stream\.api\.mgtv\.com\/v1\/video\/source url script-request-header https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/mgtv_vip.js

hostname = mobile-stream.api.mgtv.com
