#!name = 咪咕视频解锁会员
#!author = 怎么肥事
#!update = 2026-05-14
^https?:\/\/(play|play-pre|v|v[0-9]?-sc|vmesh|app-sc|vms-sc|display(-sc)?|common-sc|program-sc|d[0-9]-sc|fs-sc|fsdv-sc|mp-user|recommend-dy|chat|chat-wx|public-deliver[0-9]?|public-operbiz[0-9]?|public-img)\.miguvideo\.com\/.+ url script-request-header https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/migu_vip.js

^https?:\/\/(passport|uem|push|jadeite|jadeiteapp|hound|feedback|rcsdk)\.migu\.cn\/.+ url script-request-header https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/migu_vip.js
hostname = *.miguvideo.com, *.migu.cn