#!name = 皮皮虾净化，配合图层效果更佳
#!author = 怎么肥事
#!update = 2024-01-23 14:05

^https:\/\/.+\.pipix\.com\/bds\/feed\/channel_list\/ url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/PPX.js
^https:\/\/.+\.pipix\.com\/bds\/user\/check_in\/ url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/PPX.js


hostname = *.pipix.com
