#!name = 恋爱一点通
#!author = 怎么肥事
#!update = 2024-08-07 23:06

^http:\/\/api\.love1dt\.com\/v2\/user\/userinfo url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/Quotationsfromdating.js
^http:\/\/api\.love1dt\.com\/v2\/user\/is_tourist url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/Quotationsfromdating.js



hostname = api.love1dt.com