#!name = 顺丰净化
#!author = 怎么肥事
#!update = 2024-01-17


^https:\/\/ccsp-egmas\.sf-express\.com\/cx-app-video\/video\/app\/video\/labelClusterList url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/SF.js
^https:\/\/ucmp\.sf-express\.com\/proxy\/esgcempcore\/memberGoods\/pointMallService\/goodsList url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/SF.js
^https:\/\/ccsp-egmas\.sf-express\.com\/cx-app-base\/base\/app\/bms\/queryRecommend url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/SF.js
^https:\/\/ccsp-egmas\.sf-express\.com\/cx-app-base\/base\/app\/ad\/queryInfoFlow url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/main/SF.js


hostname = ucmp.sf-express.com,ccsp-egmas.sf-express.com
